@import "config";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: $font-secondary;
  color: $text-color;
  line-height: 1.6;
  font-size: 1rem;
  // margin-top: 5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

em {
  font-family: $font-primary;
  color: $secondary-color;
  text-transform: none;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: $font-primary;
  color: $secondary-color;
}
.bg-grey {
  background: $gray-alt;
}

.red {
  color: $dark-red;
}
.center {
  text-align: center;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: $text-color;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
}

.container {
  max-width: $max-width;
  padding: 0 1rem;
  margin: 0 auto;
  overflow: auto;
}

/*  =============== 
section
===============*/

.section {
  padding: 5rem 0;
}

.section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: $max-width;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 90vw;
  }
}
/*  =============== 
underline
===============*/
.underline {
  width: 5rem;
  height: 0.25rem;

  background: $primary-color;
  margin: 1rem auto;
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

/*  =============== 
social links
===============*/
.social-links {
  margin: 2rem auto;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.75rem;
  color: $gray;
  transition: $transition;

  &:hover {
    color: $primary-color;
  }
}

@media screen and (min-width: 992px) {
  .social-links {
    margin: 2rem 0;
  }
}

/*
=============== 
Navbar
===============
*/

.navbar {
  position: relative;
  // top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  z-index: 200;
  background: $white;

  .nav-center {
    width: 90vw;
    max-width: $max-width;
    margin: 0 auto;

    .nav-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .toggle-btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: $primary-color;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $secondary-color;
    }
  }
}
.nav-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    .toggle-btn {
      display: none;
    }
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      margin-right: 2rem;

      a {
        text-transform: capitalize;
        color: $dark-color;
        font-weight: bold;
        letter-spacing: $spacing;
        transition: $transition;
        padding: 0.5rem 0;

        &:hover {
          color: $primary-color;
          box-shadow: 0px 2px $dark-red;
        }
      }
    }
    .active {
      color: $primary-color;
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background: transparent;
  }
}

/*
=============== 
Sidebar
===============
*/

.sidebar {
  background: $gray-alt;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: $transition;
  transform: translateX(-100%);

  .close-btn {
    position: absolute;
    right: 4.75%;
    top: 2.75%;
    font-size: 2.5rem;
    background: transparent;
    border-color: transparent;
    color: $dark-red;
    cursor: pointer;
  }
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links li {
  // opacity: 0;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: $gray;
    letter-spacing: $spacing;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    transition: $transition;
    border-radius: $radius;

    &:hover {
      color: $primary-color;
      font-size: 1.5rem;
    }
  }
}

/*
=============== 
Sidebar Animation
===============
*/
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
  &:nth-of-type(1) {
    animation-delay: 0.25s;
  }
  &:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  &:nth-of-type(3) {
    animation-delay: 0.75s;
  }
  &:nth-of-type(4) {
    animation-delay: 1s;
  }
  &:nth-of-type(5) {
    animation-delay: 1.25s;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
  &:nth-of-type(1) {
    animation-delay: 0.25s;
  }
  &:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  &:nth-of-type(3) {
    animation-delay: 0.75s;
  }
  &:nth-of-type(4) {
    animation-delay: 1s;
  }
  &:nth-of-type(5) {
    animation-delay: 1.25s;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*
=============== 
Hero
===============
*/
.hero {
  // margin-top: -5rem;
  padding: 5rem 0;

  background: $white-alt;
  position: relative;

  .hero-center {
    height: 100%;
    display: grid;
    align-items: center;

    .hero-info {
      // background: $secondary-color-1;
      text-align: center;

      .underline {
        margin: 0 auto;
      }

      h1 {
        font-size: 2.25rem;
      }

      h4 {
        color: $gray;
        // margin-bottom: 2.25rem;
      }

      .hero-icons {
        justify-items: flex-start;
      }
    }
    .hero-img {
      width: auto;
    }
  }
}

@media screen and (min-width: 992px) {
  .hero {
    height: 100vh;
    margin-top: -5rem;
    background: $white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 65%;
      right: 0;
      bottom: 0;
      background: $white-alt;
    }

    .hero-center {
      grid-template-columns: repeat(12, 1fr);

      .hero-info {
        grid-row: 1/1;
        grid-column: 1 / span 5;
        text-align: left;
        // padding-bottom: 2rem;
        h1 {
          font-size: 3.5rem;
        }
        h4 {
          font-size: 1.25rem;
        }

        .underline {
          margin: 0 auto 1rem 0;
        }
      }
      .hero-img {
        display: block;
        grid-row: 1/1;
        grid-column: 6/-1;
      }
    }
  }
}

/*
=============== 
Slider
===============
*/

.slider {
  width: 100% !important;
  height: 70vh !important;
  // border-radius: $radius;

  svg polygon {
    fill: $white;
  }

  .slider-content {
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .inner {
      padding: 0 70px;
      box-sizing: border-box;
      position: absolute;
      color: $white;
      // width: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      .btnn {
        margin: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}

.slider {
  height: 20rem !important;
  // width: 90%;
  .previousButton,
  .nextButton {
    display: none !important;
  }
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .slider-content {
    .inner {
      .btnn {
        flex-direction: column;
        justify-content: center;
        div {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

/*
=============== 
info
===============
*/

.info {
  // background: $;
  // padding: 3rem 0;
  text-align: center;

  article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;

    .image-info {
      margin-left: 1rem;

      em {
        font-size: 1.5rem;
      }
      .info-img {
        width: 25rem;
      }
    }

    .image-info-alt {
      margin-right: 1rem;

      .info-img {
        width: 30rem;
      }
    }
  }
}

/*
=============== 
Services
===============
*/
.service {
  background: $white-alt;
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: $radius;
  text-align: center;
  -webkit-transition: $transition;
  transition: $transition;
  cursor: pointer;

  .service-icon {
    font-size: 12rem;
    margin-bottom: 1.5rem;
    color: $primary-color;
  }

  .underline {
    width: 3rem;
    // height: 0.12rem;
    -webkit-transition: $transition;
    transition: $transition;
  }

  p {
    -webkit-transition: $transition;
    transition: $transition;
  }

  &:hover {
    background: $primary-color-1;
    color: white;

    .underline {
      background: $secondary-color;
    }
  }
}

@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
===============
Price List Page
===============
*/

.pricelist-page {
  padding: 5rem 0;
  background: $gray;

  p {
    line-height: 2;
  }

  h4 {
    color: $primary-color;
    margin-bottom: 1rem;
  }

  .pricelist-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .pricelist-card {
      width: 22rem;
      margin: 1rem;
      padding-bottom: 1rem;
      background: $white;
      border-radius: $radius;
      box-shadow: $light-shadow;
      transition: $transition;

      .pricelist-text {
        padding: 1rem;
        text-align: center;
        li:before {
          content: "\2713"; /* FontAwesome Unicode */
          // font-family: FontAwesome;
          display: inline-block;
          margin-left: -1.3em; /* same as padding-left set on li */
          width: 1.3em; /* same as padding-left set on li */
        }
      }
    }
  }
}

/*
===============
Contact Page
===============
*/
.contact-page {
  padding: 5rem 0;
  background: $gray-alt;

  .contact-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .contact-address {
      margin: 0 2rem;
      .contact-img {
        width: 25rem;
        border-radius: $radius;
      }
      p {
        a {
          font-size: 1rem;
          font-family: $font-primary;
        }
      }
    }
    .contact-form {
      background: $white;
      border-radius: $radius;
      text-align: center;
      box-shadow: $light-shadow;
      transition: $transition;
      // width: 60vw;
      width: 25rem;

      &:hover {
        box-shadow: $dark-shadow;
      }
      h3 {
        padding-top: 1.25rem;
        color: $dark-color;
      }
      .form-group {
        padding: 1rem 1.5rem;
      }
      .form-control {
        display: block;
        width: 100%;
        padding: 0.75rem 1rem;
        border: none;
        margin-bottom: 1.25rem;
        background: $gray-alt;
        text-transform: uppercase;
        letter-spacing: $spacing;
      }
      .submit-btn {
        display: block;
        width: 100%;
        padding: 1rem;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        &:hover {
          background: $secondary-color;
          color: $white;
        }
      }
    }
  }
}

/*
===============
Footer
===============
*/
.footer {
  padding: 1.5rem 0;
  background: $dark-color;
  text-align: center;
  display: grid;
  place-items: center;

  h5 {
    margin-top: 0.5rem;
    color: $white;
    font-weight: normal;
    text-transform: uppercase;
    font-family: $font-secondary;
  }
  .footer-links {
    margin: 0 auto 1rem auto;
  }
  .social-link {
    color: $white;

    &:hover {
      color: $primary-color;
    }
  }
}
/*
===============
about Page
===============
*/

.about-page {
  padding: 5rem 0;
  background: $white-alt;
  // min-height: calc(100vh - 5rem - 9rem);

  .about-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .about-img {
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .about-page {
    .about-center {
      flex-direction: row;

      .about-img {
        width: 30rem;
      }
      .about-text {
        padding: 0 2rem;
      }
    }
  }
}

/*
===============
services Page
===============
*/
.services-page {
  padding: 5rem 0;
  background: $white-alt;

  .services-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .services-img {
      width: 100%;
      margin: 0 0 2rem 0;
    }

    .services-text {
      // width: 80%;
      padding: 0 2rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .services-page {
    .services-center {
      flex-direction: row;

      .services-img {
        width: 30rem;
      }
      .services-text {
        // width: 80%;
        padding: 0 2rem;
      }
    }
  }
}

/*
===============
Error Page
===============
*/

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  background: $gray-alt;
  text-align: center;
  h1 {
    text-transform: capitalize;
    color: $primary-color;
    margin-bottom: 2rem;
  }
}

/*
=============== 
Blog
===============
*/

.blog-page {
  background: $primary-color-1;
}

.blog {
  display: block;
  margin-bottom: 2rem;
  background: $light-color;
  border-radius: $radius;
  box-shadow: $light-shadow;
  transition: $transition;

  &:hover {
    box-shadow: $dark-shadow;
    transform: scale(1.02);
  }

  article {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .blog-img {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    height: 15rem;
  }

  .blog-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1.5rem 1rem;

    h4 {
      color: $primary-color;
    }
    .blog-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin-bottom: 0;
        font-weight: bold;
        color: $secondary-color;

        &first-of-type {
          display: inline-block;
          background: var(--clr-grey-9);
          color: var(--clr-grey-5);
          margin-right: 0.5rem;
          padding: 0.25rem 0.5rem;
          border-radius: var(--radius);
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 0.85rem;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .blogs-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }
  .blog-img {
    height: 17.5rem;
  }
}
@media screen and (min-width: 850px) {
  .blog-img {
    height: 13.75rem;
  }
}

/*
===============
Blog POST Template
===============
*/
.blog-template {
  background: $gray-alt;
  padding: 5rem 0;

  h2 {
    font-size: 1.5rem;
  }
  .blog-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .blog-single-img {
      width: 50rem;
      margin-bottom: 1rem;
    }

    .blog-text {
      width: $fixed-width;
    }
  }
}

/*
===============
pager
===============
*/

.pager {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 2rem;
  .btn-primary,
  .btn-secondary {
    margin: 0 2rem;
  }
}

/*
===============
minicontact
===============
*/
.minicontact {
  background-color: $secondary-color;

  h3 {
    color: $white-alt;
    padding: 2rem 0;
  }
}

/*
=============== 
Shop Page
===============
*/

.shop-page {
  background: $gray-alt;
}

.shop-section {
  background: $primary-color-1;
}
.shop {
  display: block;
  margin-bottom: 2rem;
  background: $light-color;
  border-radius: $radius;
  box-shadow: $light-shadow;
  transition: $transition;

  &:hover {
    box-shadow: $dark-shadow;
    transform: scale(1.02);
  }

  article {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .shop-img {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    height: 15rem;
  }

  .shop-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1.5rem 1rem;

    h4 {
      color: $primary-color;
    }
    .shop-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin-bottom: 0;
        font-weight: bold;
        color: $secondary-color;

        &first-of-type {
          display: inline-block;
          background: var(--clr-grey-9);
          color: var(--clr-grey-5);
          margin-right: 0.5rem;
          padding: 0.25rem 0.5rem;
          border-radius: var(--radius);
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 0.85rem;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .shop-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }
  .shop-img {
    height: 17.5rem;
  }
}
@media screen and (min-width: 850px) {
  .shop-img {
    height: 13.75rem;
  }
}

/*
===============
Single Product Template
===============
*/
.shop-template {
  background: $gray-alt;
  padding: 5rem 0;

  .shop-box {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    flex-direction: column;

    .shop-content article {
      margin-bottom: 1rem;
    }
    .shop-content article ul li {
      list-style-type: disc;
      margin-left: 1.5rem;
    }

    .shop-image {
      margin-bottom: 1rem;
    }
  }
}
@media screen and (min-width: 992px) {
  .shop-template {
    .shop-box {
      flex-direction: row;
      align-items: flex-start;
    }
    .shop-content {
      width: 40rem;
    }
    .shop-image {
      width: 25rem;
    }
  }
}

/*
=============== 
Shop Page
===============
*/

.cart-section {
  padding: 4rem 0;
}
.empty-cart {
  text-align: center;
  text-transform: capitalize;
}
.cart-items {
  width: $max-width;
  margin: 0 auto;
  max-width: $max-width;

  h2 {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: capitalize;
  }

  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;

    img {
      width: 5rem;
    }

    h4 {
      font-size: 0.85rem;
      text-transform: capitalize;
      letter-spacing: $spacing;
      margin-bottom: 0;
    }

    h5 {
      margin: 0.5rem 0;
      letter-spacing: $spacing;
    }
  }
  .item-amount {
    text-align: center;
    margin-bottom: 0;
  }
  .cart-btn {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .remove-btn {
    color: $dark-red;
    letter-spacing: $spacing;
    cursor: pointer;
    font-size: 0.8rem;
  }
  .amount-btn {
    color: $primary-color;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .cart-items {
    min-height: 45vw;
    width: 40rem;
    margin: 0 auto;
  }
}

/* 
====== 
Cart Link
======
*/
.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .cart-total {
    position: absolute;
    margin-top: 1.05rem;
  }
}

@media screen and (min-width: 992px) {
  .cart-container {
    margin-top: -0.51rem;
  }
}

/* 
====== 
Checkout
======
*/

.checkout-form h3 span {
  color: $primary-color;
}
.stripe-info {
  font-size: 80%;
  margin-top: 0.5rem;
  color: $gray;
}
.stripe-info span {
  color: $primary-color;
}

.card-element {
  border: 2px solid $gray;
  padding: 0.5rem;
  font-size: 4rem;
  border-radius: $radius;
}

.checkout-form .form-empty {
  margin-top: 1rem;
  margin-bottom: 0;
}
.checkout-form button {
  margin-top: 1rem;
}

@import "buttons";
